<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A4GAboutEmail</key>
	<string>contact@apps4good.ca</string>
	<key>A4GAboutText</key>
	<string>Apps4Good is an alliance of software developers who are passionate about improving our community, by doing what they love: build software.</string>
	<key>A4GAboutURL</key>
	<string>http://apps4good.ca</string>
	<key>A4GAppText</key>
	<string>What's My Ward is an app to help residents of Saskatoon find what ward they live in and make it easy to contact their city councillor.</string>
	<key>A4GAppURL</key>
	<string>http://itunes.apple.com/us/app/whats-my-ward-saskatoon/id555098142</string>
	<key>A4GButtonDoneColor</key>
	<string>#2E2E2E</string>
	<key>A4GNavBarColor</key>
	<string>#585858</string>
	<key>A4GTableGroupedBackColor</key>
	<string>#F2F2F2</string>
	<key>A4GTableGroupedHeaderTextColor</key>
	<string>#6E6E6E</string>
	<key>A4GTableGroupedTextColor</key>
	<string>#848484</string>
	<key>A4GTablePlainBackColor</key>
	<string>#FAFAFA</string>
	<key>A4GTablePlainHeaderBackColor</key>
	<string>#6E6E6E</string>
	<key>A4GTablePlainHeaderTextColor</key>
	<string>#424242</string>
	<key>A4GTablePlainRowEvenColor</key>
	<string>#F3F3F3</string>
	<key>A4GTablePlainRowOddColor</key>
	<string>#F1F1F1</string>
	<key>A4GTablePlainTextColor</key>
	<string>#848484</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Saskatoon</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Icon.png</string>
				<string>Icon@2x.png</string>
				<string>Icon-72.png</string>
				<string>Icon-144.png</string>
				<string>Icon-Small-50.png</string>
				<string>Icon-Small.png</string>
				<string>Icon-Small@2x.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>ca.apps4good.whatsmyward.saskatoon</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>What's My Ward?</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>A4GApplication_iPhone</string>
	<key>NSMainNibFile~ipad</key>
	<string>A4GApplication_iPad</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackOpaque</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
